html,
body {
    background-color: #5E8BB3;
}

.container {
    max-width: 80%;
    margin: auto;
    background: none;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

hr {
    width: 100%;
    /* ปรับความยาวตรงนี้ เช่น 50%, 200px, ฯลฯ */
    border: 0;
    height: 0.3rem;
    background: #F8F25D;
    /* สีเส้น */
    margin: 1rem auto;
    /* auto = จัดให้ตรงกลาง */
    border-radius: 10px;
}

.container b {
    font-size: 5rem;
    color: aliceblue;
    background: none;
}

#datetime {
    font-size: 2rem;
    color: aliceblue;
    background: none;
}


@media (max-width: 600px) {

    .container b,
    #datetime {
        font-size: 2.5rem;
        /* ลดครึ่งหนึ่งในมือถือ */
    }

    #datetime {
        font-size: 1rem;
    }
}

.log-list table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.log-list th,
.log-list td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: left;
}

.log-list thead th {
    background-color: #e0e0e0; /* สีเทาอ่อน */
    font-weight: bold;
}

.log-list th {
    background-color: #f2f2f2;
}

/* ทำให้ log-list scrollable ในมือถือ */
.log-list {
    overflow-x: auto;
}

/* ปุ่ม pagination */
.pagination {
    text-align: center;
    margin-top: 10px;
    background: none;
}

.pagination span {
    color: white;
    background: none;
}

.pagination button {
    background-color: #e7e36d;
    border: none;
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.2s;
}

.pagination button:hover {
    background-color: #9d9a3f;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}