<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tempui</title>
    <link href="/css/home.css" rel="stylesheet">
    <link href="/css/default-style.css" rel="stylesheet">
    <script src="/js/home.js" defer></script>
</head>

<body>

    <div class="announcement-slide">
        <% announcements.forEach(item=> { %>
            <a class="announcement-item" href="<%= item.link %>">
                <img src="<%= item.img %>" alt="">
            </a>
            <% }) %>
    </div>

    <div class="menu-list">

        <a class="menu-button" href="/pet-board">
            <img src="/assets/Petboard.png">
        </a>

        <a class="menu-button" href="/weather-forecast">
            <img src="/assets/fortune.png">
        </a>

        <a class="menu-button" href="/log">
            <img src="/assets/log.png">
        </a>
    </div>

</body>

</html>