<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tempui</title>
    <link href="/css/home.css" rel="stylesheet" >
    <link  href="/css/default-style.css" rel="stylesheet">
    <script href="/js/home.js"></script>
</head>
<body>
    <div class="container info">
        <img src="assets/242.png">
    </div>
    <div class="container">

    </div>
</body>
</html>